<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <% if @user.avatar? %>  <!-- アップロード画像がある場合に実行する -->
    <p>
      <strong>Avatar:</strong>
      <%= image_tag @user.avatar.url %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
    </p>
    <p>
      <%= video_tag(@user.avatar.url, loop: true, autoplay: true, muted: true, size:500, width:500) %>
    </p>
    
  <% end %>

</div>
